.container {
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 20px 0 10px 0;
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  background-color: #1b29a7;
  color: #FFF;
  text-transform: uppercase;
  border: 0;
  height: 48px;
  margin-top: 20px;
}

button:disabled,
button:disabled:hover {
  opacity: 0.4;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input[type="text"].input-sm {
  width: 47%;
}